#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd > #backgroundBox {
  position: absolute;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd > #alignmentBox {
  position: relative;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Image_1 {
  position: absolute;
  width: 1348.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_1 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Image {
  position: absolute;
  width: 300.0px;
  height: 300.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Image_2 {
  position: absolute;
  width: 300.0px;
  height: 300.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Image_3 {
  position: absolute;
  width: 300.0px;
  height: 300.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Image_4 {
  position: absolute;
  width: 300.0px;
  height: 300.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_2 {
  position: absolute;
  width: 185.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_3 {
  position: absolute;
  width: 183.0556640624999px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_4 {
  position: absolute;
  width: 174.05615234375017px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_4 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_5 {
  position: absolute;
  width: 159.04003906249994px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_5 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_6 {
  position: absolute;
  width: 139.52587890624955px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_7 {
  position: absolute;
  width: 120.0322265625px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_7 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_8 {
  position: absolute;
  width: 124.037109375px;
  min-height: 20.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_8 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_9 {
  position: absolute;
  width: 139.53710937500023px;
  min-height: 20.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_9 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_10 {
  position: absolute;
  width: 135.0258789062491px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_10 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_11 {
  position: absolute;
  width: 158.046875px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_11 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_12 {
  position: absolute;
  width: 105.53613281249977px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_12 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_14 {
  position: absolute;
  width: 719.5815429687501px;
  min-height: 245.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Verdana',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_14 span#rtr-s-Paragraph_14_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_15 {
  position: absolute;
  width: 140.02050781249966px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_15 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_13 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_13 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_16 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_17 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_17 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_18 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_18 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_19 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_19 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: italic;
  font-weight: 700;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b3d9aa72-160b-4a0b-bfa1-40d61a285dbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}